{% extends 'error_base.html' %}

{% block title %}403 Forbidden{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>403</h1>
    <h2>This is forbidden territory.</h2>
</div>
<h3>Expired Access Token</h3>
You can try again by going back to the website you were trying to access by clicking <a href="#" onclick="window.history.back();return false;">here</a> and see if it works this time.
<h3>Missing Certs?</h3>
One possible cause for this error is that you don't have MIT certificates installed in your browser. You need MIT certificates to access most part of the Simmons website.
<br />
<br />
This link will help you install your certificates: <a href="https://ist.mit.edu/certificates">https://ist.mit.edu/certificates</a>.
<br />
<h3>Lack of Permissions</h3>
Another possible cause for this error is that you don't have enough permissions to access the resource you wanted. If you believe this is an error, please email Simmons Tech at <a href="mailto:simmons-tech@mit.edu">simmons-tech@mit.edu</a> and we will try to fix your problem.
<br /><br />
{% endblock content %}